- edit ||= false
= simple_form_for @diagnosis, html: { class: 'form-horizontal col-md-6 col-md-offset-3 text-center', role: 'form' } do |f|



  = f.input :doctor_id, collection: doctor_for_select


  = datepicker_field(f, :resolution_date)

  = f.association :class_disease

  = f.association :complictation


  .form-actions
    -if edit == true
      = link_to "Назад", diagnosis_path(@diagnosis.id),  class: 'btn btn-primary'
    -else
      = link_to "Назад", _back_url,  class: 'btn btn-primary'
    = f.submit 'Сохранить', class: 'btn btn-primary'
