%section#users-list
  .col-md-12
    .row
      .header-field
        .header-field-title
          = page_header


      %table.table.table-hover
        %thead
          %tr
            %th.text-center= ClinicalRecord.human_attribute_name(:record_number)
            %th.text-center= ClinicalRecord.human_attribute_name(:attachment_date)
            %th.text-center= ClinicalRecord.human_attribute_name(:last_registration_date)
            %th.text-center= ClinicalRecord.human_attribute_name(:detachment_date)
            %th.text-center= ClinicalRecord.human_attribute_name(:reason_for_detachment)
            %th.text-center= ClinicalRecord.human_attribute_name(:patient)
            %th.text-center= ClinicalRecord.human_attribute_name(:site)


        %tbody
          - @clinical_records.each do |clinical_record|
            %tr.tr-href{ data: { link: clinical_record_path(clinical_record.id) } }
              %td.text-center= full_record_number(clinical_record)
              %td.text-center= l(clinical_record.attachment_date, format: :default)
              %td.text-center= l(clinical_record.last_registration_date, format: :default)
              %td.text-center= clinical_record.detachment_date.present? ? l(clinical_record.detachment_date, format: :default) : 'Пациент не открепился'
              %td.text-center= clinical_record.reason_for_detachment.present? ? clinical_record.reason_for_detachment : 'Пациент не открепился'
              %td.text-center= full_name(clinical_record.patient)
              %td.text-center= clinical_record.site.site_name
