= form_for @patient do |f|
  - if @patient.errors.any?
    #error_explanation
      %h2= "#{pluralize(@patient.errors.count, "error")} prohibited this patient from being saved:"
      %ul
        - @patient.errors.full_messages.each do |message|
          %li= message
          
  .field
    = f.label :surname
    = f.text_field :surname
  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :patronymic
    = f.text_field :patronymic
  .field
    = f.label :birthday
    = f.date_select :birthday
  .field
    = f.label :sex
    = f.text_field :sex
  .field
    = f.label :full_name_parent
    = f.text_field :full_name_parent
  .field
    = f.label :mobile_phone_number
    = f.text_field :mobile_phone_number
  .field
    = f.label :work_phone_number
    = f.text_field :work_phone_number
  .field
    = f.label :rank
    = f.text_field :rank
  .field
    = f.label :disability
    = f.text_field :disability
  .field
    = f.label :certificate_of_deceased_parent
    = f.text_field :certificate_of_deceased_parent
  .field
    = f.label :certificate_of_nuclear_power_plant
    = f.text_field :certificate_of_nuclear_power_plant
  .field
    = f.label :inila
    = f.text_field :inila
  .field
    = f.label :place_work_id
    = f.text_field :place_work_id
  = f.fields_for :address, @address do |address_form|
    = render('patients/patient_address_form', address_form: address_form)

  = f.fields_for :passport, @passport do |passport_form|
    = render('patients/patient_passport_form', passport_form: passport_form)

  = f.fields_for :medical_policy, @medical_policy do |medical_policy_form|
    = render('patients/patient_medical_policy_form', medical_policy_form: medical_policy_form)

  = f.fields_for :clinical_record, @clinical_record do |clinical_record_form|
    = render('patients/patient_clinical_record_form', clinical_record_form: clinical_record_form)

  = f.hidden_field (:clinical_record_id)
  = f.hidden_field (:medical_policy_id)
  = f.hidden_field (:passport_id)
  .actions
    = f.submit 'Save'
