= simple_form_for @patient, html: { class: 'form-horizontal col-md-6 col-md-offset-3 text-center', role: 'form' } do |f|



  = f.error_notification
  #legal-entity-common-data
    = f.input :surname
    = f.input :name
    = f.input :patronymic
    = datepicker_field(f, :birthday)
    = f.input :sex
    = f.input :full_name_parent
    = f.input :mobile_phone_number
    = f.input :work_phone_number
    = f.input :rank
    = f.input :disability
    = f.input :certificate_of_deceased_parent
    = f.input :certificate_of_nuclear_power_plant
    = f.input :inila
    = f.input :place_work_id , collection: place_work_for_select, include_blank: 'Выберите место службы'
    =f.simple_fields_for :address, @address do |address_form|
      %h3= "Адрес проживания"
      = address_form.input :site_id, collection: site_for_select, include_blank: 'Выберите участок'
      = address_form.input :city_id,  collection: city_for_select, include_blank: 'Выберите город'
      = address_form.input :street_id, collection: street_for_select, include_blank: 'Выберите улицу'
      = address_form.input :house_id, collection: house_for_select, include_blank: 'Выберите дом'

    %br/
    =f.simple_fields_for  :passport, @passport do |passport_form|
      %h3= "Форма паспорта"
      = passport_form.input :serial_and_number
      = datepicker_field(passport_form, :issue_date)
      = passport_form.input :issued_by
      = passport_form.input :passport_holder
    %br/
    =f.simple_fields_for :medical_policy, @medical_policy do |medical_policy_form|
      = render('patients/patient_medical_policy_form', medical_policy_form: medical_policy_form)
    %br/
    =f.simple_fields_for  :clinical_record, @clinical_record do |clinical_record_form|
      = render('patients/patient_clinical_record_form', clinical_record_form: clinical_record_form)

    %br/

    .form-actions
      = link_to "Назад", Patient,  class: 'btn btn-primary'
      = f.submit 'Сохранить', class: 'btn btn-primary'
  -# .actions
  -#   = f.submit 'Save'
