%h3= "Адрес регистрации"
= address_policy_form.input :site_id, collection: site_for_select, include_blank: 'Выберите участок'
= address_policy_form.input :city_id, collection: city_for_select, include_blank: 'Выберите город'
= address_policy_form.input :street_id,collection: street_for_select, include_blank: 'Выберите улицу'
= address_policy_form.input :house_id, collection: house_for_select, include_blank: 'Выберите дом'
