%h3= "Адрес проживания"
= address_form.input :site_id, collection: site_for_select, include_blank: 'Выберите участок'
= address_form.input :city_id,  collection: city_for_select, include_blank: 'Выберите город'
= address_form.input :street_id, collection: street_for_select, include_blank: 'Выберите улицу'
= address_form.input :house_id, collection: house_for_select, include_blank: 'Выберите дом'
