%h3= "Форма паспорта"
.field
  = passport_form.label :serial_and_number
  = passport_form.text_field :serial_and_number
.field
  = passport_form.label :issue_date
  = passport_form.date_select :issue_date
.field
  = passport_form.label :issued_by
  = passport_form.text_field :issued_by
.field
  = passport_form.label :passport_holder
  = passport_form.text_field :passport_holder
