%h3= "Форма полиса"
.field
  = medical_policy_form.label :mip_number
  = medical_policy_form.text_field :mip_number
= medical_policy_form.fields_for :address, @address_policy do |address_policy_form|
  = render('patients/medical_policy_address_form', address_policy_form: address_policy_form)
