%h3= "Адрес проживания"
.field
  = address_form.label :site
  = address_form.text_field :site_id
.field
  = address_form.label :city
  = address_form.text_field :city_id
.field
  = address_form.label :street
  = address_form.text_field :street_id
.field
  = address_form.label :house
  = address_form.text_field :house_id
