%h3= "Форма карточки"
= clinical_record_form.input :record_number
= clinical_record_form.input :prefix
= clinical_record_form.input :suffix
= datepicker_field(clinical_record_form, :attachment_date)
= datepicker_field(clinical_record_form, :last_registration_date)
= datepicker_field(clinical_record_form, :detachment_date)
= clinical_record_form.input :reason_for_detachment
= clinical_record_form.input :site_id, collection: site_for_select, include_blank: 'Выберите участок'
