%h3= "Форма полиса"
.field
  = medical_policy_form.label :mip_number
  = medical_policy_form.text_field :mip_number
.field
  = medical_policy_form.label :address
  = medical_policy_form.text_field :address
