%h1 Listing patients

%table
  %thead
    %tr
      %th= Patient.human_attribute_name(:surname)
      %th= Patient.human_attribute_name(:name)
      %th= Patient.human_attribute_name(:patronymic)
      %th= Patient.human_attribute_name(:birthday)
      %th= Patient.human_attribute_name(:medical_policy_id)
      %th= Patient.human_attribute_name(:clinical_record_id)
      %th
      %th
      %th

  %tbody
    - @patients.each do |patient|
      %tr
        %td= patient.surname
        %td= patient.name
        %td= patient.patronymic
        %td= patient.birthday
        %td= patient.medical_policy
        %td= patient.clinical_record
        %td= link_to 'Show', patient
        %td= link_to 'Edit', edit_patient_path(patient)
        %td= link_to 'Destroy', patient, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Patient', new_patient_path
