= simple_form_for @doctor, html: { class: 'form-horizontal col-md-6 col-md-offset-3 text-center', role: 'form' } do |f|

    = f.input :surname

    = f.input :name

    = f.input :patronymic

    = f.input :personnel_number

    = f.input :information
    %br/
    .form-actions
    = link_to "Назад", Doctor,  class: 'btn btn-primary'
    = f.submit 'Сохранить', class: 'btn btn-primary'
