%section
  .col-md-12
    .row
      .header-field
        .header-field-title
          = 'Врачи'
          = link_to '+', new_doctor_path, class: 'btn btn-primary btn-sm', title: 'Добавить нового врача'

      %table.table.table-hover
        %thead
          %tr
            %th= Doctor.human_attribute_name(:surname)
            %th= Doctor.human_attribute_name(:name)
            %th= Doctor.human_attribute_name(:patronymic)
            %th= Doctor.human_attribute_name(:personnel_number)
            %th= Doctor.human_attribute_name(:information)


        %tbody
          - @doctors.each do |doctor|
            %tr.tr-href{ data: { link: doctor_path(doctor.id) } }
              %td= doctor.surname
              %td= doctor.name
              %td= doctor.patronymic
              %td= doctor.personnel_number
              %td= doctor.information


      %br
