= simple_form_for @place_work, html: { class: 'form-horizontal col-md-6 col-md-offset-3 text-center', role: 'form' } do |f|
  = f.error_notification
  = f.input :job_name
  = f.input :short_name
  = f.input :information
  .form-actions
    = link_to "Назад", PlaceWork,  class: 'btn btn-primary'
    = f.submit 'Сохранить', class: 'btn btn-primary'
