%section#users-list
  .col-md-12
    .row
      .header-field
        .header-field-title
          = 'Места служб'
          = link_to '+', new_place_work_path, class: 'btn btn-primary btn-sm', title: 'Добавить новое место службы'

      %table.table.table-hover
        %thead
          %tr
            %th.text-center= PlaceWork.human_attribute_name(:job_name)
            %th.text-center= PlaceWork.human_attribute_name(:information)

        %tbody
          - @place_works.each do |work|
            %tr.tr-href{ data: { link: place_work_path(work.id) } }
              %td.text-center= work.job_name
              %td.text-center= work.information
