.main-menu-buttons
  = render 'cabinets/buttons/patients', name: "Пациенты"

  = render 'cabinets/buttons/clinical_records', name: "Медицинские карты"

  = render 'cabinets/buttons/doctors', name: "Врачи"

  = render 'cabinets/buttons/works', name: "Места службы"

  = render 'cabinets/buttons/sites', name: "Участки"

  = render 'cabinets/buttons/reports', name: "Отчеты"
