.main-menu-buttons
  = render 'cabinets/buttons/patients', name: "Пациенты"

  = render 'cabinets/buttons/clinical_records', name: "Медицинские карты"

  = render 'cabinets/buttons/doctors', name: "Врачи"

  = render 'cabinets/buttons/works', name: "Места службы"

  = render 'cabinets/buttons/sites', name: "Участки"
  .main-menu-button-wrapper{id: 'to-patients', data: {link: reports_path(type_report:1)}}
    = main_menu_button_for 'reports', 'Данные о возрасте пацеинтов'
  .main-menu-button-wrapper{id: 'to-patients', data: {link: reports_path(type_report:2)}}
    = main_menu_button_for 'reports', 'Движение пациентов'
  .main-menu-button-wrapper{id: 'to-patients', data: {link: reports_path(type_report:3)}}
    = main_menu_button_for 'reports', 'Количество детей по месту службы родителей'
  .main-menu-button-wrapper{id: 'to-patients', data: {link: reports_path(type_report:4)}}
    = main_menu_button_for 'reports', 'Отчет об участках'
  .main-menu-button-wrapper{id: 'to-patients', data: {link: reports_path(type_report:5)}}
    = main_menu_button_for 'reports', 'Сведения о числе заболеваний'
