= form_for @site do |f|
  - if @site.errors.any?
    #error_explanation
      %h2= "#{pluralize(@site.errors.count, "error")} prohibited this site from being saved:"
      %ul
        - @site.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :site_name
    = f.text_field :site_name
  .field
    = f.label :short_name
    = f.text_field :short_name
  .field
    = f.label :region
    = f.text_field :region
  .field
    = f.label :information
    = f.text_area :information
  .actions
    = f.submit 'Save'
