%section#users-list
  .col-md-12
    .row
      .header-field
        .header-field-title
          = page_header
          = link_to '+', new_site_path, class: 'btn btn-primary btn-sm', title: 'Добавить новый участок'

      %table.table.table-hover
        %thead
          %tr
            %th.text-center= Site.human_attribute_name(:site_name)
            %th.text-center= Site.human_attribute_name(:region)
            %th.text-center= Site.human_attribute_name(:information)


        %tbody
          - @sites.each do |site|
            %tr.tr-href{ data: { link: site_path(site.id) } }
              %td.text-center= site.site_name
              %td.text-center= site.region
              %td.text-center= site.information
