%p#notice= notice

%p
  %b Site name:
  = @site.site_name
%p
  %b Short name:
  = @site.short_name
%p
  %b Region:
  = @site.region
%p
  %b Information:
  = @site.information

= link_to 'Edit', edit_site_path(@site)
\|
= link_to 'Back', sites_path
