.container
  .col-md-12
    .row
      .header-field
        .header-field-title
          = link_to 'Сведения о числе заболеваний', reports_path(type_report:5)

      = simple_form_for '', method: :get, html: { class: 'form-inline form-inline-search form-inline-12 text-center', role: :form } do |f|
        = datepicker_field(f, :begin_date, label: false, icon: false, placeholder: 'c', value: params[:begin_date])
        = datepicker_field(f, :end_date, label: false, icon: false, placeholder: 'по', value: params[:end_date])
        = f.select :age_down, age_down_select, { include_blank: 'Нижняя граница возраста' }, class: 'form-group', value: params[:age_down]
        = f.select :age_up, age_up_select, { include_blank: 'Верхняя граница возраста' }, class: 'form-group', value: params[:age_up]
        %br
        %br
        .inline
          = submit_tag 'Поиск', class: 'btn btn-primary'
          = link_to 'Сбросить',  count_diseases_reports_path, class: 'btn btn-default'
        %br
        %br
      %table.table.table-striped
        %thead
          %tr
            %th.text-center{ rowspan: 3 } Наименование классов болзней
            %th.text-center{ rowspan: 3 } Код по МКБ10
            %th.text-center.th-popover{ colspan: 4 } Зарегистрировано больных с данными заболеваниями
            %th.text-center.th-popover{ colspan: 2 } ПРОФ
          %tr
            %th.text-center.th-popover{ rowspan: 2 }Всего
            %th.text-center.th-popover{ rowspan: 2 } В т.ч. юноши
            %th.text-center.th-popover{ colspan: 2 } В т.ч. с диагнозом, установленным впервые в жизни
            %th.text-center.th-popover{ rowspan: 2 }Всего
            %th.text-center.th-popover{ rowspan: 2 } В т.ч. юноши
          %tr
            %th.text-center.th-popover Всего
            %th.text-center.th-popover В т.ч. юноши
        %tbody
          -@children.each do |disease, cnt|
            %tr
              %td.text-center= disease
              %td.text-center= cnt[:code]
              %td.text-center= cnt[:count]
              %td.text-center= cnt[:count_male]
              %td.text-center= cnt[:count_fil]
              %td.text-center= cnt[:count_fil_m]
              %td.text-center= cnt[:count_prof]
              %td.text-center= cnt[:count_prof_m]
